doctype html
//- html(manifest="cache.manifest" type="text/cache-manifest")
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    title Cual es mi ruta
    link(href='libs/ionic/css/ionic.min.css' rel='stylesheet')
    //- ionic-material stylesheet
    link(href='libs/ionic-material/dist/ionic.material.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
    //- ionic/angularjs js
    script(src='libs/ionic/js/ionic.bundle.js')
    //- ionic-material script
    //- script(src='libs/ionic-material/dist/ionic.material.min.js')
    //- OAuth Twitter
    //- script(src='libs/jsSHA/src/sha1.js')
    //- cordova script (this will be a 404 during development)
    script(src='libs/ngCordova/dist/ng-cordova.min.js')
    script(src='libs/ngstorage/ngStorage.min.js')
    script(src='cordova.js')
    //- Angular google maps
    script(src='libs/lodash/lodash.min.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    script(src='libs/angular-google-maps/dist/angular-google-maps.js')
    //- Angular load
    script(type="application/javascript", src="libs/angular-load/angular-load.min.js")
    //- Angular Translate
    script(src='libs/angular-translate/angular-translate.min.js')
    //- your app's js
    script(src='js/main.js')
  body(ng-app='tuzobus' ng-controller="MainController" ng-class="theme")
    ion-nav-view
    //- #fb-roots
    //- script.
    //-   (function(d, s, id) {
    //-   var js, fjs = d.getElementsByTagName(s)[0];
    //-   if (d.getElementById(id)) return;
    //-   js = d.createElement(s); js.id = id;
    //-   js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=976432712417531";
    //-   fjs.parentNode.insertBefore(js, fjs);
    //-   }(document, 'script', 'facebook-jssdk'));
