ion-view(view-title="{{'ABOUT' | translate}}")
  ion-content.about
    .card
      .item.row
        p.col(style="white-space: initial;")
          | ¿Cuál es mi ruta? es un proyecto sólido, que se encuentra basado en las necesidades del transporte público, desde el inicio hemos
          | tratado de mejorar en todo lo posible la aplicación ya que es de gran utilidad para muchas personas que lo ocupan a 
          | diario al transladarse en diferentes puntos de la ciudad.
      //- div(fb-like="myModel.Url")
      //- .fb-like(data-href='https://www.facebook.com/tuzoapp', data-layout='box_count', data-action='like', data-show-faces='true', data-share='true')
      
      //- .item.row(style="display: block;")
      //-   button.button(ng-tap="connect()") Like
      //-   | {{success  |json}}
      //-   | {{error |json}}
      .item.item-divider
        | Desarrollador
      .item
        .row
          | Carlos Barranco Aguilar
        .row
          | caba9313@gmail.com
        .row
          | @cabaag03
      .item.item-divider
        | {{'INFORMATION_SUGGESTS' | translate}}
      .item.textarea
      .item
        button.button.button-block.button-balanced-900(on-tap="sendComment('caba9313@gmail.com')") {{'INFORMATION_SUGGESTS_SEND_BUTTON' | translate}}
  
        
        
