ion-view(view-title="{{'CARD' | translate}}")
  ion-content
    ion-list
      ion-item.item-divider {{'CARD_BALANCE' | translate}}
      ion-item {{50 | currency}}
      ion-item.item-divider {{'CARD_CREDIT' | translate}}
      ion-item {{0 | currency}}
      ion-item.item-divider {{'CARD_HISTORY' | translate}}
      ion-item {{tag}}
      ion-item {{ndefMessage}}
