ion-view(view-title="{{'CONFIGURATION_TITLE' | translate}}")
  ion-content(scroll='false')
    ion-list
      ion-item.item-divider.item-input.item-select
        .input-label {{'CONFIGURATION_LABEL_LANGUAGE' | translate}}
        select(ng-model="selectedLang" ng-options="lang.code as lang.name for lang in langs"  ng-change="changeLang(selectedLang)")
      ion-item.item-divider
        | {{'CONFIGURATION_THEME' |translate}}
      ion-radio(ng-model='selectedTheme' ng-value="'theme-light'" ng-change="changeTheme('theme-light')")
        | {{'CONFIGURATION_THEME_LIGHT' | translate}}
      ion-radio(ng-model='selectedTheme' ng-value="'theme-dark'" ng-change="changeTheme('theme-dark')")
        | {{'CONFIGURATION_THEME_DARK' | translate}}
