ion-view(view-title="{{title | translate}}")
  ion-content
    ion-list.routes-express
      ion-item.item-express(ng-repeat="station in express.stations")
        .col.col-10.number-station(class="{{'route'+routeId}}") {{station.number}}
        button.col.col-90.name-station.item(ng-show="{{station.name != ''}}" ui-sref="app.station({id: $index+1})") {{station.name}}
        .col.col-90.name-station.item.disabled(ng-hide="{{station.name != ''}}") {{stations.stations[$index].name}}
