ion-view(view-title="{{'EXPRESS_ROUTES' | translate}}")
  ion-content(scroll='false')
    .express-routes
      div(style="height: 34%")
        button.col.col-100.button.express-route.balanced-bg(ui-sref='app.express-route({id: 0})')
          i.ion-android-bus.route-icon
          .route-name {{'MAIN_ROUTE' | translate}}
      div(style="height: 33%")
        button.col.col-50.button.express-route.route1(ui-sref='app.express-route({id: 1})')
          i.ion-android-bus.route-icon
          .route-name {{'ROUTE_1' | translate}}
        button.col.col-50.button.express-route.route2(ui-sref='app.express-route({id: 2})')
          i.ion-android-bus.route-icon
          .route-name {{'ROUTE_2' | translate}}
      div(style="height: 33%")
        button.col.col-50.button.express-route.route3(ui-sref='app.express-route({id: 3})')
          i.ion-android-bus.route-icon
          .route-name {{'ROUTE_3' | translate}}
        button.col.col-50.button.express-route.route4(ui-sref='app.express-route({id: 4})')
          i.ion-android-bus.route-icon
          .route-name {{'ROUTE_4' | translate}}
