ion-view(view-title="{{'FEEDER_ROUTES' | translate}}")
  ion-content
    .bar.bar-header.item-input-inset.bar-stations
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon   
        input(type='search' placeholder="{{'SEARCH' | translate}}" ng-model='search.name')
      button.button.button-balanced.ink(on-tap='station = "" ') {{'CANCEL' | translate}}
    ion-list
      ion-item.route(ng-repeat='route in routes | filter: search' ui-sref='app.station({id: route.id})')
        .route-name {{route.name}}
        .divider
        .station(ng-repeat='station in route.stations')
          .routes
            .express-route(ng-repeat='num in station.expressRoute' class="{{'route'+num}}")
          .station-name {{station.name}}
          img.responsive-img.station-img(ng-src="{{station.icon.url}}")
          .station-address {{station.address}}
