ion-view(view-title='Ayuda')
  ion-content(scroll='false')
    ion-slide-box(on-slide-changed='slideHasChanged($index)').dark-bg.stable
      ion-slide
        .box
          img.padding-horizontal.padding-top.responsive-img(src='img/destacada.jpg')
          h4.padding-horizontal ¡Gracias por descargar ¿Cuál es mi ruta?!
          .padding Con esta pequeña guía te ayudaremos a resolver las principales dudas que tengas sobre el uso y manejo de está aplicación, asi que no te desesperes y comencemos.
      //- ion-slide
      //-   .box
      //-     .padding Cuentas con una tarjeta y quieres saber los datos de la misma, es tan sencillo como presionar un botón y esperar
      //-     img.help(src="img/help/card.png")
      ion-slide
        .box
          .padding Contamos con un mapa interactivo el cuál podrás seleccionar solamente lo que quieres ver.
          img.help(src="img/help/map.png")
      ion-slide
        .box
          .padding ¿Quieres ir a algún lado y no sabes cuál ruta es la que te convience más?. Utiliza el creador de rutas el cual con sólo seleccionar el punto de origen y el punto de destino creará la ruta más rápida para llegar.
          img.help(src="img/help/maker.png")
