ion-view(view-title="{{'INFORMATION' | translate}}")
  ion-content
    ion-list
      ion-item.item-divider 
        i.icon.ion-social-usd
        |  {{'INFORMATION_COST' | translate}}
      ion-item
        p {{'CARD' | translate}} {{17 | currency}} (sin saldo)
      ion-item 
        p Tuzobús {{8 | currency}}
        p Primer transbordo {{2 | currency}}
        p Segundo transbordo {{0 | currency}}
      ion-item
        p Pago en efectivo {{8 | currency}} (este tipo de pago debe ser exacto ya que las maquinas no dan cambio).
      ion-item.item-divider 
        i.icon.ion-clock
        |  {{'INFORMATION_HORARY' | translate}}
      ion-item
        p {{'INFORMATION_SCHEDULE_MONDAY_FRIDAY' | translate}}: 5:00-23:00 hrs
        p {{'INFORMATION_SCHEDULE_SATURDAY' | translate}}: 6:00-22:30 hrs
        p {{'INFORMATION_SCHEDULE_SUNDAY' | translate}}: 7:00-22:00 hrs.
      ion-item.item-divider
        i.icon.ion-ios-telephone
        |  {{'INFORMATION_PHONES' | translate}}
      ion-item 
        p Centro de Atención Telefónica Tuzobús
        p 01 800 890 6809
      ion-item.item-divider
        i.icon.ion-home
        |  {{'INFORMATION_WEB_PAGE' | translate}}
      ion-item http://tuzobus.hidalgo.gob.mx/
      ion-item.item-divider
        i.icon.ion-email
        |  {{'INFORMATION_EMAIL' | translate}}
      ion-item tuzobus@hidalgo.gob.mx
      ion-item.item-divider
        i.icon.ion-chatbox-working
        |  {{'INFORMATION_SUGGESTS' | translate}}
      ion-item
        button.button.button-block.button-balanced-900.ink(on-tap="sendComment('tuzobus@hidalgo.gob.mx')") {{'INFORMATION_SUGGESTS_SEND_BUTTON' | translate}}
