ion-view(view-title="{{'MAKE_ROUTE' | translate}}")
  ion-content(scroll="false")
    ion-list.maker-control
      ion-item
        label.item-input
          i.icon.placeholder-icon.ion-location.assertive
          input(type='text' placeholder="{{'MAKE_ROUTE_ORIGIN' | translate}}" ng-model='origin' ng-focus='toggleInputOrigin()' ng-blur='toggleInputOrigin()')
      ion-item
        label.item-input
          i.icon.placeholder-icon.ion-location.positive
          input(type='text' placeholder="{{'MAKE_ROUTE_DESTINE' | translate}}" ng-model='destine' ng-focus='toggleInputDestine()' ng-blur='toggleInputDestine()')
      ion-item.row
        button.button.button-block.button-flat.balanced-bg(on-tap="createRoute()") {{'MAKE_ROUTE_CREATE_BUTTON' | translate}}
        
      ion-item.places-origin.item-icon-left(on-tap="setOrigin('Mi ubicación')" ng-show="activeInputOrigin")
        i.icon.ion-home
        | {{'MAKE_ROUTE_MY_UBICATION' | translate}}
      ion-item.places-origin.item(ng-repeat="place in placesOrigin | orderBy:reverse" on-tap="setOrigin(place)" ng-show="activeInputOrigin")
        | {{place}}
         
      ion-item.places-origin.item-icon-left(on-tap="setDestine('Mi ubicación')" ng-show="activeInputDestine")
        i.icon.ion-home
        | {{'MAKE_ROUTE_MY_UBICATION' | translate}}
      ion-item.places-origin.item(ng-repeat="place in placesDestine | orderBy:reverse" on-tap="setDestine(place)" ng-show="activeInputDestine")
        | {{place}}
        
    div(data-tap-disabled='true')
      ui-gmap-google-map.stations-google-map(center='map.coords' zoom='map.zoom' options='map.options' pan='map.pan' control='map.control' refresh="refreshMap")
        ui-gmap-marker(idKey='markerOrigin.id' coords='markerOrigin.coords' icon='markerOrigin.icon' options='markerOrigin.options' events='markerOrigin.events')
        ui-gmap-marker(idKey='markerDestine.id' coords='markerDestine.coords' icon='markerDestine.icon' options='markerDestine.options' events='markerDestine.events')
        //- ui-gmap-polylines(models='routes' path=''path'' stroke=''stroke'' editable=''editable'' draggable=''draggable'' visible='areVisibleRoutes')
        ui-gmap-polyline(path='routeOrigin.path' stroke="routeOrigin.stroke")
        ui-gmap-polyline(path='routeStations.path' stroke="routeStations.stroke")
        ui-gmap-polyline(path="routeDestine.path" stroke="routeDestine.stroke")
    
    
