ion-view(view-title="{{'MAP' | translate}}")
  ion-content(scroll='false')
    .bar.bar-header.bar-map.balanced-bg
      .row
        .col
          div Estación más cercana 
            b {{nearestStation.name}}
        .col   
          div(on-tap="toggleRoutes()") Distancia 
            b {{nearestStation.distance}}
    #map(data-tap-disabled="true")
      ui-gmap-google-map.stations-google-map(center='map.coords' zoom='map.zoom' pan='map.pan' options='map.options')
        ui-gmap-marker(idKey="currentLocation.id" coords="currentLocation.coords")
        ui-gmap-marker(idKey='bus.id' coords='bus.coords' icon="bus.icon")
        ui-gmap-markers(models="stations" idKey="stations.id" coords="'position'" icon="'iconx32'" options="'options'" doCluster="false" fit="false" modelsbyref="false" )
        ui-gmap-polyline(path='main_route.path' stroke='main_route.stroke' editable='false' draggable='false' visible='main_route.visible' static='true')
        ui-gmap-polyline(ng-repeat="route in routes" path='route.path' stroke='route.stroke' editable='false' draggable='false' visible='route.visible' static='true')
        ui-gmap-markers(ng-repeat="route in routes" models="route.substations" idKey="'id'" coords="'position'" icon="route.icon" options="'options'")
    
    //- #map_canvas
      //- .options-buttons-map
      //-   button#centerMap.button.button-icon.icon.ion-location(ng-click="centerMap()")
      //-   button#fullScreen.button.button-icon.icon.ion-arrow-expand(ng-click="fullScreen()")
      
