ion-side-menus(enable-menu-with-back-views='false' ng-class="theme")
  ion-side-menu-content.menu-animated
    ion-nav-bar.bar-balanced-900
      ion-nav-back-button
      ion-nav-buttons.left-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="left" ng-click="toggleLeftSideMenu()")
        //- button.button.button-icon.button-clear.ion-navicon()
          
      ion-nav-buttons.right-buttons(side='right')
        button.button.button-icon.button-clear(class="{{iconRightNavButton}}" ng-hide='hideRightNavButton' on-tap='clickRightNavButton($event)')
    ion-nav-view(name='menuContent')
  ion-side-menu(side='left' expose-aside-when='large' width="275")
    ion-header-bar.balanced-900-bg.expanded.bar.bar-header
      //- img.responsive-img.padding(src="img/destacada.jpg" width="100%")
      .menu-bottom ¿Cuál es mi ruta?
    ion-content.has-expanded-header
      ion-list
        //- ion-item.item-icon-left(menu-close='', ui-sref='app.card')
        //-   i.icon.ion-card
        //-   | {{'CARD' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.map')
          i.icon.ion-map
          | {{'MAP' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.maker')
          i.icon.ion-navigate
          | {{'MAKE_ROUTE' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.stations')
          i.icon.ion-android-bus
          | {{'STATIONS' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.express-routes')
          i.icon.ion-flash
          | {{'EXPRESS_ROUTES' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.feeder-routes')
          i.icon.ion-pinpoint
          | {{'FEEDER_ROUTES' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.places')
          i.icon.ion-paper-airplane
          | {{'PLACES' | translate}}
        //- ion-item.item-icon-left(menu-close='', ui-sref='app.events')
        //-   i.icon.ion-flag
        //-   | {{'EVENTS' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.news')
          i.icon.ion-speakerphone
          | {{'NEWS' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.info')
          i.icon.ion-information
          | {{'INFORMATION' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.config')
          i.icon.ion-gear-a
          | {{'CONFIGURATION' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.help')
          i.icon.ion-help
          | {{'HELP' | translate}}
        ion-item.item-icon-left(menu-close='', ui-sref='app.about')
          i.icon.ion-bookmark
          | {{'ABOUT' | translate}}
