ion-view(view-title="Noticias")
  //- ion-content(scroll="false")
    //- twitter-timeline
  ion-content.twitter
    ion-list
      ion-item.item-thumbnail-left.ng-cloak(ng-repeat='tweet in tweets')
        img.avatar(ng-src="{{tweet.user.profile_image_url}}")
        a.header(href="{{'https://twitter.com/' + tweet.user.screen_name}}")
          .user-name {{tweet.user.name}}
          p.user-screen-name @{{tweet.user.screen_name}}
          .tweet-time {{tweet.created_at | twitterTime | date: 'dd MMM'}}
        .content
          p(ng-bind-html="tweet.text | twitterText")
      ion-item.load-more(ng-show="counterTweets < 200")
        a(on-tap="loadMore()") Cargar más
