ion-popover-view.optionsMap(style="width:300px" ng-controller="OptionsMapController")
  ion-header-bar.balanced.stable-bg
    h1.title {{'MAP_OPTIONS' | translate}}
  ion-content
    ion-list
      ion-checkbox(ng-model='stations.visible' ng-change='toggleStations()') {{'MAIN_ROUTE' | translate}}
      //- ion-checkbox(ng-model='stations[0].options.visible' ng-change='viewStation()') Ruta exprés 1
      //- ion-checkbox(ng-model='stations[1].options.visible' ng-change='viewStation()') Ruta exprés 2
      //- ion-checkbox(ng-model='stations[2].options.visible' ng-change='viewStation()') Ruta exprés 3
      //- ion-checkbox(ng-model='stations[3].options.visible' ng-change='viewStation()') Ruta exprés 4
      ion-checkbox(ng-model="routes.visible" ng-change='toggleRoutes()') {{'FEEDER_ROUTES' | translate}}
      ion-checkbox(ng-repeat="route in feedersRoutes" ng-model='route.visible' ng-change='viewRoute($index)') {{route.name}}
