ion-popover-view(style="width:225px" ng-controller="OptionsPlacesController")
  ion-header-bar.balanced.stable-bg
    h1.title {{'PLACES_ORDER_BY' | translate}}
  ion-content
    ion-list
      ion-radio(ng-value="'id'" ng-model="$parent.order" ng-change="orderBy()") {{'PLACES_ORDER_BY_DEFAULT' | translate}}
      ion-radio(ng-value="'name'" ng-model="$parent.order" ng-change="orderBy()") {{'PLACES_ORDER_BY_NAME_ASCENDET' | translate}}
      ion-radio(ng-value="'-name'" ng-model="$parent.order" ng-change="orderBy()") {{'PLACES_ORDER_BY_NAME_DESCENDENT' | translate}}
      ion-radio(ng-value="'category'" ng-model="$parent.order" ng-change="orderBy()") {{'PLACES_ORDER_BY_CATEGORY' | translate}}
