ion-view(view-title="{{'PLACES' | translate}}")
  ion-content.places
    .bar.bar-header.item-input-inset.bar-stations
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type='search' placeholder="{{'SEARCH' | translate}}" ng-model='place')
      button.button.button-balanced-900.ink(on-tap="place = '' ") {{'CANCEL' | translate}}
    ion-list
      div(ng-repeat="place in places | orderBy:order | filter:place")
        //- ion-item.item-divider(ng-show="order == 'category' && isNewCategory(place.category)") {{'PLACES_CATEGORY_'+place.category | translate}}
        ion-item.item-icon-right(ui-sref="app.place({id: place.id})")
          | {{place.name}}
          img(ng-show="{{place.image != ''}}" ng-src="{{'./img/places/' + place.image}}")
          i.icon(ng-hide="{{place.image != ''}}" class="{{place.icon}}")
