ion-view(view-title="{{place.name}}")
  ion-content.place
    ion-list
      ion-item
        img.padding(ng-show="{{place.image != ''}}" ng-src="{{'./img/places/' + place.image}}")
        p.title.padding {{place.name}}
      ion-item.header-divide.item-divider
        .item-divide 
          i.icon.ion-compass
          |  {{'PLACES_DISTANCE' | translate}}
        .item-divide 
          i.icon.ion-ios-stopwatch
          |  {{'PLACES_APPROXIMATE_TIME' | translate}}
      ion-item.row
        p.col.col-50.padding {{distance}}
        p.col.col-50.padding {{eta}}
      ion-item.item-divider
        i.icon.ion-map
        |  {{'STATION_ADDRESS' | translate}}
      ion-item
        p  {{place.address}}
      ion-item.item-divider(ng-show="place.horary")
        i.icon.ion-clock
        |  {{'INFORMATION_HORARY' | translate}}
      ion-item(ng-show="place.horary")
        p {{place.horary}}
      ion-item.item-divider(ng-show="place.phone")
        i.icon.ion-ios-telephone
        |  {{'INFORMATION_PHONES' | translate}}
      ion-item(ng-show="place.phone")
        p 
          a(href="tel: {{place.phone}}") {{place.phone}}
      ion-item.item-divider(ng-show="place.email")
        i.icon.ion-email
        |  {{'INFORMATION_EMAIL' | translate}}
      ion-item(ng-show="place.email")
        p 
          a(href="{{place.email}}") {{place.email}}
      ion-item.item-divider
        i.icon.ion-home
        |  {{'INFORMATION_WEB_PAGE' | translate}}
      ion-item
        p 
          a(href="{{place.pageWeb}}") {{place.pageWeb}}
