ion-view(view-title="{{'STATIONS' | translate}}")
  ion-content
    .bar.bar-header.item-input-inset.bar-stations
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type='search' placeholder="{{'SEARCH' | translate}}" ng-model='station')
      button.button.button-balanced-900.ink(on-tap="station = '' ") {{'CANCEL' | translate}}
    ion-list
      ion-item.station.item-thumbnail-left(ng-repeat='station in stations | filter: station' item-render-buffer='9' ui-sref='app.station({id: station.id})' )
        img.responsive-img(ng-src='{{station.icon.url}}')
        .routes
          .express-route(ng-repeat='route in station.expressRoute' class="{{'route'+route}}")
        h2.station-name {{station.name}}
        .divider
        p.station-address {{station.address}}
