ion-view(view-title="{{station.name}}")
  ion-content(scroll="false")
    //- ui-gmap-google-map.station-google-map(center="map.position" zoom="map.zoom" options="options")
    //-   ui-gmap-marker(idKey='map.id' coords='map.position')
    //-   ui-gmap-marker(idKey='station.id' coords='station.position' icon='station.icon')
    //-   ui-gmap-marker(coords="currentLocation.coords" idKey="currentLocation.id")
      //- ui-gmap-marker(coords='marker.coords' idKey='marker.id')
    ion-list
      ion-item
        img.responsive-img(ng-src="{{station.icon.url}}")
      ion-item.item-divider {{'STATION_ADDRESS' | translate}}
      ion-item 
        p {{station.address}}
      ion-item.item-divider {{'STATION_NEAREST_PLACES' | translate}}
      ion-item.place.item-icon-right(ng-repeat="place in nearestPlaces" ui-sref="app.place({id: place.id})")
        | {{place.name}}
        img(ng-show="{{place.image != ''}}" ng-src="{{'./img/places/' + place.image}}")
        i.icon(ng-hide="{{place.image != ''}}" class="{{place.icon}}")
