.express-routes{
  position: relative;
  height: 100%;
  width: 100%;
  .express-route {
    text-decoration: none;
    height: 100%;
    position: relative;
    color: $stable;
    padding-left: 8px;
    padding-right: 8px;
    @include routes;
    .route-icon {
      width: 100%;
      position: relative;
      text-align: center;
      text-shadow: 2px 2px $dark;
      top: 15px;
      color: $light !important;
    }
    .route-name{
      width: 100%;
      position: relative;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px $dark;
    }
  }
}
@media screen and (max-width: $screen-sm){
  .route-icon {
    font-size: 4em !important;
  }
  .route-name {
    font-size: 10px;
  }
}
@media screen and (min-width: $screen-sm+1) and (max-width: $screen-md){
  .route-icon {
    font-size: 6em !important;
  }
  .route-name{
    font-size: medium;
  }
}

@media screen and (min-width: $screen-md){
  .route-icon {
    font-size: 7em !important;
  }
  .route-name{
    font-size: x-large;
  }
}

ion-list.routes-express{
  .bar-express{
    padding: 0;
    div {
      color: $stable;
      text-shadow: 2px 2px $dark;
      text-align: center;
      font-size: 2em;
      @include routes;
    }
  }
  .item-express{
    padding: 0px;
    .number-station{
      display: inline-block;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      color: inherit;
      text-align: center;
      text-shadow: 2px 2px $dark;
      @include routes;
    }
    .name-station{
      margin-left: 10px;
      padding-top: 10px;
      display: inline-block;
      vertical-align: middle;
      color: inherit;
      &.disabled{
        color: #a3a3a3 !important;
      }
    }
  }
}
