ion-slide{
  .box {
    height: 97vh !important;
    img {
      width: 100%;
    }
    .help {
      width: 60%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}
ion-content.about .scroll{
  height: 100%;
  .card{
    height: 100%;
  }
}
.fb-like{
  background: blue;
  height: 100px;
  width: 100%;
}
