/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
// $ionicons-font-path: "../libs/ionic/fonts" !default;
// Include all of Ionic
// @import "../libs/ionic/scss/ionic";
$RobotoDraftFontPath: "../libs/robotodraft/fonts/"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";
@import "../libs/robotodraft/robotodraft.scss";

$route-express-0: $balanced !default;
$route-express-1: $positive !default;
$route-express-2: $assertive !default;
$route-express-3: $energized !default;
$route-express-4: $royal !default;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 900px;


@mixin routes{
  &.route0{ background: $route-express-0; }
  &.route1{ background: $route-express-1; }
  &.route2{ background: $route-express-2; }
  &.route3{ background: $route-express-3; }
  &.route4{ background: $route-express-4; }
}

@import "themes";
@import "map";
@import "maker";
@import "routes";
@import "express";
@import "station";
@import "help";
@import "twitter";
@import "places";

// .back-button{
//   overflow: visible !important;
//   span{
//     font-size: 12px;
//   }
// }
.bar-map{
  height: auto !important;
}
.options-header{
  display: none;
}
.options-buttons-map{
  position: absolute;
  z-index: 10000;
  bottom: 2%;
  right: 0px;
  button{
    padding: 0 10px;
    width: 50px;
  }
}

.divider{
  display: block;
  border: 1px solid lighten($dark, 50%);
  margin: 10px 0px;
}

p, .padding {
  white-space: normal !important;
  text-align: justify;
  text-justify: inter-word;
}

#map {
  width:100%;
  height:100%;
  position: absolute;
  bottom:0px;
  left:0;
  right:0;
  top:0;
  margin:0;
  padding:0;
}

ion-popover-view {
  height: 500px;
}
