.maker-control{
  position: absolute;
  width: 50%;
  margin: 10px;
  ion-item {
    background: transparentize($stable, 0.1);
    padding: 0;
    &.places-origin{
      padding: 16px;
      border-top: 1px solid darken($stable, 10);
      &.item-icon-left{
        padding-left: 54px;
      }
      &.activeInput{
        height: 50px;
        transition: height 0.5s;
      }
    }
    label .assertive {
      color: $assertive !important;
    }
    label .positive{
      color: $positive !important;
    }
  }
  .button{
    padding: 0;
    &.active-pin-origin{
      color: $assertive;
    }
    &.active-pin-destine{
      color: $positive;
    }
  }
}
@each $theme in $theme-list{
  $i: index($theme-list, $theme);
  .theme-#{$theme} {
    .maker-control{
      .places-origin{
        color: nth($theme-background, $i) !important;
      }
    }
  }
}
