#map_canvas{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}
ion-side-menu{
  transition: width 200ms;
  .menu-bottom {
    word-wrap: normal;
  }
}

ion-popover-view.optionsMap{
  ion-checkbox{
    color: $balanced;
  }
}
