ion-content.places {
  ion-list {
    ion-item {
      min-height: 60px;
      padding-left: 20px;
      .item-content {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      img {
        width: 120px;
        height: auto;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100%;
        right: 11px;
      }
      i {
        width: 120px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 40px !important;
      }
    }
  }
}

ion-item.place{
  padding-left: 20px;
  img {
    width: 120px;
    height: auto;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    right: 11px;
  }
  i {
    width: 120px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px !important;
  }
}

ion-content.place {
  ion-list {
    ion-item {
      & *{
        font-size: 16px;
      }
      &.header-divide {
        display: flex;
        .item-divide {
          width: 50%;
        }
      }
      img {
        width: 50%;
      }
      .title{
        display: inline-block;
        font-size: 36px;

      }
      a {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: $screen-sm){
  ion-content.place {
    ion-list {
      ion-item {
        .title {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md){
  ion-content.place {
    ion-list {
      ion-item {
        .title {
          font-size: 20px;
        }
      }
    }
  }
}
