.route {
  a {
    padding: 16px 49px 0px 16px !important;
  }
  .route-name {
    font-size: 24px;
    margin-bottom: 5px;
    color: inherit;
  }
  .station {
    position: relative;
    display: block;
    margin-bottom: 15px;
    .routes {
      position: absolute;
      right: 0;
      .express-route{
        border-radius: 10px;
        width: 15px;
        height: 15px;
        display: block;
        float: left;
        margin: 2px;
        @include routes;
      }
    }
    .station-name {
      padding-left: 5px;
    }
    .station-address {
      display: inline-block;
      white-space: normal;
      margin-right: 10%;
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .route {
    .route-name {
      font-size: 18px;
    }
  }
}

// @media screen and (min-width: $screen-sm and (max-width: $scren-md)) {
//   .station {
//     .station-img {
//       display: inline-block;
//       vertical-align: top;
//     }
//     .station-name {
//       font-size: 18px;
//     }
//     .station-address {
//       vertical-align: top;
//       max-height: 58px;
//       overflow: hidden;
//     }
//   }
// }

@media screen and (min-width: $screen-sm) {
  .station-address {
    vertical-align: top;
    max-height: 58px;
    overflow: hidden;
  }
}
