.bar-station{
  padding: 10px;
}
.bar-stations .button{
  width: auto;
  max-width: none;
}

ion-item.station {
  .routes {
    position: relative;
    float: right;
    padding-top: 5px;
    .express-route{
      border-radius: 10px;
      width: 15px;
      height: 15px;
      display: block;
      float: left;
      margin: 2px;
      @include routes;
    }
  }
  .station-name{
    padding-top: 5px;
  }
  .station-address {
    padding-left: 5px;
    white-space: normal;
  }
}

@media screen and (max-width: $screen-sm){
  .station {
    a {
      padding-left: 85px !important;
      img {
        width: 64px !important;
        height: 64px !important;
      }
    }
  }
  .station-name {
    font-size: 14px;
  }
  .station-address {
    font-size: 12px !important;
    padding-left: 0px !important;
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md){
  .station {
    a {
      padding-left: 85px !important;
      img {
        width: 64px !important;
        height: 64px !important;
      }
    }
  }
  .station-name {
    font-size: 14px;
  }
  .station-address {
    font-size: 12px !important;
    padding-left: 0px !important;
  }
}


.stations-google-map .angular-google-map-container {
  height: 96vh;
}
.station-google-map .angular-google-map-container {
  height:50vh
}
.scroll-places{
  height: 37vh;
}
