$theme-list: light dark;
$theme-background: $light $dark;
$theme-color: $dark $light;

@mixin setTheme($background, $color){
  background-color: $background ;
  color: $color !important;
}

@each $theme in $theme-list{
  $i: index($theme-list, $theme);
  .theme-#{$theme} {
    @include setTheme(nth($theme-background, $i), nth($theme-color, $i));
    ion-item, .item, p{
      color: inherit !important;
    }
    .item-radio input:checked~.item-content{
      @include setTheme(nth($theme-background, $i), nth($theme-color, $i));
    }
    ion-content, ion-popover-view, textarea, select, .item-checkbox, .item-radio .item-content, .input-label, .item-input-inset, .list, {
      @include setTheme(nth($theme-background, $i), nth($theme-color, $i));
    }
    .item.item-divider {
      border-top: 1px solid nth($theme-color, $i);
    }
    i {
      color: inherit;
      &.placeholder-icon{
        color: nth($theme-background, $i) !important;
      }
    }
    h1, h2, h3 {
      color: nth($theme-color, $i);
    }
    .card {
      @include setTheme(nth($theme-color, $i), nth($theme-background, $i));
    }
  }
}
