ion-content.twitter {
  ion-item {
    // background-color: white;
    border: 1px solid #E8E8E8 !important;
    &.item-thumbnail-left{
      padding-left: 70px;
    }
    &.load-more a{
      color: #0084b4 !important;
      display: block;
      text-align: center;
    }
    .header {
      text-decoration: none;
      display: flex;
      .user-name {
        font-weight: bold;
      }
      .user-screen-name {
        margin-left: 5px;
      }
      .tweet-time {
        position: absolute;
        right: 20px;
        // color: #707070 !important;
      }
    }
    .avatar {
        position: absolute;
        // top: 0;
        // left: -57px;
        width: 48px;
        height: 48px;
        background: inherit;
        border-radius: 4px;
    }
    .content {
      p {
        // color: #292f33 !important;
        margin-right: 5%;
        font: normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
        a {
          color: #2784B8 !important;
        }
      }
    }
  }
}
@each $theme in $theme-list{
  $i: index($theme-list, $theme);
  .theme-#{$theme} {
    ion-content.twitter{
      .header {
        .user-name, .user-screen-name, .tweet-time{
          color: nth($theme-color, $i) !important;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm){
  ion-content.twitter {
    ion-item {
      .header {
        display: block;
        .user-screen-name{
          margin: 0;
        }
        .tweet-time{
          top: 10px;
        }
      }
    }
  }
}
